%h1 Nice overview goes here
%hr
Example:
%ul
  %li Top owned projects
  %li Top followed projects
  %li Top contributed projects 
  %li Average code coverage increase
  %li Latest commits
  %li Percentage of successful builds
  %li Recent badges
  %li Recent trophies