.jumbotron
  %h1 Welcome to Appatite!
  %p
    This is the shiny, awesome way to view projects on Github and Gitlab.
  %p
    You just realized you need to put it on a dedicated screen near both developers
    and project managers.
  %p
    = link_to 'Get started', new_project_path, class: 'btn btn-primary btn-lg'

.text-center

  .about
    %h2 All projects, one view
    %p Get a quick overview of all your repositories in just a quick glance
    = image_tag 'http://placehold.it/800x400'

  .about
    %h2 Made for the wall
    %p All views are designed to be viewable on a screen attached to the wall
    = image_tag 'http://placehold.it/800x400'

  .about
    %h2 Don't forget mobile!
    %p Of course the dashboard fits perfectly on a small mobile screen, too
    = image_tag 'http://placehold.it/800x400'