.text-center

  - if not auth_configured?
    %h1 You need to configure auth
    .lead You need to configure authentication with a provider.
    Click
    = link_to 'here', admin_application_settings_path
    to set up authentication.

  - elsif not any_auth?
    %h1 Authentication is disabled
    .lead The administrators have disabled authentication.

  - else
    %h1 Sign in using...
    - if github_auth?
      = link_to user_github_omniauth_authorize_path, class: 'btn btn-primary btn-lg btn-auth' do
        %span.fa.fa-github
        GitHub
    - if gitlab_auth?
      = link_to user_gitlab_omniauth_authorize_path, class: 'btn btn-primary btn-lg btn-auth' do
        %span.fa.fa-gitlab
        GitLab