.text-center
  %h1 Choose your Appatite
  .lead
    A beautiful way to visualize your projects with a quick glance

.container
  .row
    .col-md-4.text-center
      .panel.panel-default.panel-featured
        .panel-heading
          Open Source
        .panel-body.text-center
          %h2.panel-headline Free
          Free forever for open source hobbyists
          .panel-action
            %a.btn.btn-md.btn-primary Get started
        %ul.list-group.text-left
          %li.list-group-item
            %span.fa.fa-check
            Up to 3 public repositories
          %li.list-group-item
            %span.fa.fa-check
            Both Github and Gitlab
          %li.list-group-item
            %span.fa.fa-check
            Something, something

    .col-md-4.text-center
      .panel.panel-success.panel-featured
        .panel-heading
          Standard
        .panel-body.text-center
          %h2.panel-headline
            %span.currency $
            1/mo
          Unlimited public repositories
          .panel-action
            %a.btn.btn-md.btn-success Buy Now
        %ul.list-group.text-left
          %li.list-group-item
            %span.fa.fa-check
            Unlimited public repositories
          %li.list-group-item
            %span.fa.fa-check
            Up to 3 private repositories
          %li.list-group-item
            %span.fa.fa-check
            Something, something

    .col-md-4.text-center
      .panel.panel-default.panel-featured
        .panel-heading
          Premium
        .panel-body.text-center
          %h2.panel-headline
            %span.currency $
            9/mo
          Unlimited private repositories
          .panel-action
            %a.btn.btn-md.btn-primary Buy Now
        %ul.list-group.text-left
          %li.list-group-item
            %span.fa.fa-check
            Unlimited private repositories
          %li.list-group-item
            %span.fa.fa-check
            Github Enterprise
          %li.list-group-item
            %span.fa.fa-check
            Gitlab CE and EE