.nav-pills
  margin-bottom: 3em
  li
    display: inline-block
    float: none
    a
      border-radius: 0
      &:hover
        background-color: transparent
        border-bottom: 2px solid #eee
      .badge
        color: white
        background-color: #337ab7
  li.active
    a
      background-color: transparent
      color: #337ab7
      border-bottom: 2px solid #337ab7
      &:hover
        background-color: transparent
        color: #337ab7
      .badge
        color: white
        background-color: #337ab7